
h1{
	
	border:3px #576574 solid;
	background-color: #576574;
	color: white;
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 30px;
	font-size: 50px;
}
body{
	background-color: beige;
	background-repeat:no-repeat;
	background-size: cover;
	margin-top:0px;
	margin-left: 0px;
	margin-right: 0px;
	background-attachment: fixed;
	background-position: center center;
	
	
}
/*img{
	width: 95px;
	height: 75px;
}*/
p, h2{
	margin-left: 50px;
}
img{
	margin-left: 20px;
}